header {
    max-height: 4em;
    min-height: 4em;
    border-bottom: 1px solid darkgray;
}

nav {
    max-height: 4em;
    min-height: 4em;
    border-top: 1px solid darkgray;
}

main {
    overflow: scroll;
}

main .col {
    max-height: 4em;
    cursor: pointer;
}

main .col:hover {
    background-color: lightgray
}

main .col i.fa {
    width: 1.2em;
    text-align: center;
    margin-right: 0.2em;
}

.alert a {
    text-decoration: none;
    color: red;
}

.flex-grow-half {
    flex-grow: 0.5;
}
