#ticket-list-load-progress,
#ticket-list-load-more {
  display: none;
}

#ticket-list-load-more {
  text-align: center;
}

#ticket-list-load-more button {
  width: 100%;
}

.main-content {
  display: none;
}

#main-ticket-list {
  display: block;
}

#tickets-filters {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 15em;
}

#tickets-filters .badge {
  text-align: left;
  cursor: pointer;
}

#tickets-filters .badge .icon {
  width: 1.5em;
}

#tickets-filters .badge span {
  font-weight: initial;
}

#tickets-filters .button {
  position: relative;
  float: right;
  margin-top: 10px;
  width: 40px;
  height: 40px;
	border-radius: 20px;
  text-align: center;
  outline: none;
  box-shadow: 2px 2px 3px #999;
}

#tickets-filters .button i {
	margin-top:12px;
}

#accordion-new-ticket li, 
.ticket-card .card-header,
.transaction-link, .new-ticket-message {
  cursor: pointer;
}

#accordion-new-ticket li:hover,
.ticket-card .card-header:hover,
.ticket-card .card-body li:hover {
  background-color: #f0f0f0;
}

.dropdown.message-attachment-list {
  display: none;
}

.active-no-decoration {
  background-color: inherit !important;
}

.warning-feedback {
  color:#eb8c10;
  margin-top: .25rem;
  font-size: .875em;
}

.ticket-bg-new {
  background-color: #198754; 
}

.ticket-bg-open {
  background-color: #0d6efd;
}

.ticket-bg-resolved {
  background-color: #000000; 
}

.ticket-bg-stalled {
  background-color: #6c757d;
}

.ticket-bg-waiting {
  background-color: #eb8c10;
}

.ticket-bg-rejected {
  background-color: red;
}
