html {
  height: 100%;
}

body {
  background-color: #e6e8e8;
  min-height: 100%;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 5em) !important;
  height: 100%;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}

#header {
  height: 5em;
}

.sidebar {
  width: 220px;
}

.extra-small {
  font-size: .75em;
}
